body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange_color {
  color: rgb(238, 16, 16);
}
.success {
  color: rgb(69, 209, 127);
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half_width {
  width: 50%;
  padding-left: 5%;
}
.half_width img {
  width: 80%;
}
.link_button {
  text-decoration: none;
  background-image: linear-gradient(45deg, blue, green, red);
  padding: 10px 30px;
  border-radius: 15%;
  font-weight: 700;
  color: white;
}
.top_bannar {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream_big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
